In [8]:
import pandas as pd
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
#df=pd.read_excel("weather_data.xlsx","sheet1")
#df

In [7]:
###(dataframe using dictionary)
weather_data={'day':['1/1/2017','1/2/2017','1/3/2017'],'temperature':[32,35,28],'wind':[6,7,2],'event':['rainy','sunny','snow']}
df=pd.DataFrame(weather_data)
df

        day  temperature  wind  event
0  1/1/2017           32     6  rainy
1  1/2/2017           35     7  sunny
2  1/3/2017           28     2   snow

In [15]:
###(dataframe using tuples)
weather_data=[('1/1/2017',32,6,'rainy'),('1/2/2017',35,7,'sunny'),('1/3/2017',28,2,'snowy')]
df=pd.DataFrame(weather_data,columns=["d","t","w","e"])
df

          d   t  w      e
0  1/1/2017  32  6  rainy
1  1/2/2017  35  7  sunny
2  1/3/2017  28  2  snowy

In [13]:
type(weather_data)

list