In [2]:
import pandas as pd
df1=pd.DataFrame({"city":["new york","chicago","orlando"],"temp":[21,14,35]})
df1

       city  temp
0  new york    21
1   chicago    14
2   orlando    35

In [4]:
df2=pd.DataFrame({"city":["chicago","new york","orlando"],"humidity":[65,68,75]})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [5]:
df3=pd.merge(df1,df2,on="city")
df3

       city  temp  humidity
0  new york    21        68
1   chicago    14        65
2   orlando    35        75

In [ ]:
df1=pd.DataFrame({"city":["new york","chicago","orlando","Baltimore"],"temp":[21,14,35]})